[submodule "libs/BNO055_driver"]
	path = libs/BNO055_driver
	url = https://github.com/BoschSensortec/BNO055_driver
[submodule "libs/vl53l0x-linux"]
	path = libs/vl53l0x-linux
	url = https://github.com/saegersven/vl53l0x-linux
